.wrapper {
  background-color: white;
  margin: 10px auto;
  max-width: 1700px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
.categories {
  display: flex;
}
.heading {
  width: 200px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.heading p {
  font-size: 30px;
  text-align: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.127);
  align-items: center;
}
.title p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .heading {
    display: none;
  }
  .category_carousel {
    width: 100%;
  }
}
