.cart_wrapper {
  max-width: 1300px;

  margin: 1rem auto;
  display: flex;
  padding: 2rem;
  min-height: 80vh;
  gap: 2rem;
}
.cart_items_wrapper {
  width: 70%;
  max-height: 80vh;
  background: #fff;
  position: relative;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
}
.cart_price {
  width: 30%;
  background: #fff;

  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
  height: max-content;
  position: relative;
}
.cart_price_header {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #878787;
  border-bottom: 1px solid #87878736;
  padding: 1.5rem 2rem;
}
.cart_price_details {
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart_price_details_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart_price_details_item span {
  color: var(--green);
}
.cart_price_details_item:last-child {
  border-bottom: 1px dashed #87878736;
  padding-bottom: 2rem;
}
.total_amount {
  font-size: 1.8rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.cart_bottom_text {
  position: absolute;
  bottom: -4rem;
  font-size: 1.2rem;
  text-align: left;
  left: 52%;
  transform: translateX(-50%);
  width: 100%;

  color: #878787;
  padding: 5px 0 5px 35px;
  background: url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/shield_b33c0c.svg)
    no-repeat 0 50%;
  background-size: 25px 35px;
}
.cart_items_wrapper .cart_items_place_order {
  width: 100%;
  padding: 2rem;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.057);
  height: 9rem;
  display: flex;
  align-items: center;
}
.cart_items_place_order button {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
  padding: 2rem 8rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.empty_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
}
.empty_cart_image {
  width: 40rem;
}
.empty_cart_image img {
  width: 100%;
}

@media (max-width: 600px) {
  .cart_wrapper {
    margin: 0;
    flex-direction: column;
    padding: 2rem;
    min-height: 80vh;
    gap: 1rem;
  }
  .cart_items_wrapper {
    width: 100%;
  }
  .cart_price {
    width: 100%;
  }
  .cart_price_header {
    font-size: 1.4rem;
  }
  .cart_price_details {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .total_amount {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .cart_bottom_text {
    display: none;
  }
  .cart_items_wrapper .cart_items_place_order {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
  }
  .cart_items_place_order button {
    padding: 2rem 6rem;
  }
  .empty_cart {
    padding: 2rem;
  }
}

/* checkout */
.checkout_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f1f3f6;
  height: 80vh;
  width: 70%;
  overflow-x: scroll;
}
.checkout_step {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
}
.checkout_step_header {
  background-color: #fff;
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: grey;
  background-color: var(--primary);
}
.checkout_step_header_count {
  padding: 3px 6px;

  font-size: 1.4rem;
  color: #2874f0;
  background-color: #f0f0f0;
}
.checkout_step_content {
  display: flex;
  flex-direction: column;

  font-size: 1.3rem;

  align-items: flex-start;
}
.checkout_login_content {
  display: flex;
  padding: 1rem;
  padding-left: 5rem;
  gap: 1rem;
  align-items: center;
}
.checkout_login_content p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
}
.delivery_address {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 0;
}
.delivery_address button {
  padding: 1rem 3rem;
  color: var(--primary);
  font-size: 1.4rem;
  text-transform: uppercase;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.253);
  background: none;
}
.address_item {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  width: 100%;
  padding: 1rem;
  padding-left: 5rem;
}

.address_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0;
}
.address_details_top,
.address_details_bottom {
  display: flex;
  gap: 1rem;
  align-items: start;
}
.deliver_here_btn,
.confirm_order_btn,
.order_summary_btn {
  outline: none;
  border: none;
  background: #fb641b;
  padding: 1.5rem 4rem;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  width: max-content;
}
.add_address_btn {
  padding: 1rem 2rem;
  color: var(--primary);
  outline: none;
  border: none;
  background: none;
  padding-left: 0;
}

.address_form {
  width: 100%;
  background: #f5faff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-left: 9rem;
}
.form_row {
  display: flex;
  gap: 2rem;
}

.form_row input[type="text"] {
  width: 40%;
  height: 5rem;
  padding: 0 1rem;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  border-radius: 2px;
}
.form_row input[type="text"]:focus {
  border: 2px solid var(--primary);
}

.form_row textarea {
  width: 83%;
  padding: 1rem;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  border-radius: 2px;
}

.form_row textarea:focus {
  border: 2px solid var(--primary);
}
.save_address_btn {
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: #fb641b;
  outline: none;
  border: none;
  color: #fff;
}
.save_address_btn:disabled {
  background-color: rgba(128, 128, 128, 0.5);
}
.save_address_cancel_btn {
  padding: 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  color: #2874f0;
}
.payment_option_list {
  width: 100%;
}
.payment_option_list li {
  list-style: none;
  padding: 2rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  font-size: 1.4rem;
  flex-direction: column;
  gap: 1rem;
}
