.header {
  width: 100%;
  height: 5.5rem;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 99999;
}
.header_wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
}
.ham_menu {
  height: 80%;
  margin-right: 1rem;
  background: none;
  outline: none;
  border: none;
  display: none;
}
.ham_menu svg {
  font-size: 2rem;
  color: #fff;
}
.nav_menu li {
  font-size: 1.4rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #878787;
  cursor: pointer;
}
.nav_menu svg {
  color: var(--primary);
}
.logo_search {
  display: flex;
  gap: 10px;

  height: 100%;
  align-items: center;
  flex-grow: 1;
}
.search {
  width: max-content;
  height: 35px;
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);
  justify-content: space-between;
}
.search input {
  min-width: 200px;

  border: none;
  outline: none;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.search svg {
  height: 100%;
  color: var(--primary);
  margin-right: 10px;
}
.searchIcon {
  color: #fff;
  margin-top: 5px;
}
.header_links {
  width: 50%;
  height: 35px;
}
.header_links ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.header_links ul li {
  height: 100%;
  list-style: none;
}
.header_btn {
  height: 100%;
  padding: 0 10px;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.header_btn_cart,
.header_btn_search {
  height: 100%;
  padding: 0 10px;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
  cursor: pointer;
}
.cart_count {
  background-color: #ff6161;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2px;
  left: 20px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  border: 1px solid white;
  font-size: 14px;
}
.dropdown {
  position: absolute;
  background: white;
  width: 200px;
  color: var(--primary);
  bottom: -70px;
  left: 50%;
  transform: translate-x(-50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);

  z-index: 999999;
  display: none;
}

.dropdown_btn:hover .dropdown {
  display: block;
}
.dropdown_btn:hover .arrowIcon {
  transform: rotate(180deg);
}
.dropdown ul {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.dropdown ul li {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  width: 100%;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1000px) {
  .header_btn {
    display: none;
  }
  .header_links {
    width: 20%;
  }
  .ham_menu {
    display: block;
  }
}
@media (max-width: 500px) {
  .header_links {
    width: max-content;
  }
  .header_btn_cart p {
    display: none;
  }
  .logo img {
    height: 20px !important;
  }
  .header svg {
    font-size: 2.5rem;
  }
  .nav_menu ul {
    width: 200px !important;
  }
  .nav_menu li {
    font-size: 1.8rem;
    padding: 1.2rem;

    font-weight: 400;
  }
  .search {
    display: none;
  }
}
